language: python

python:
  - 2.7

install:
 - sudo apt-get update
 - sudo apt-get install libboost-test-dev
 - wget https://github.com/google/googletest/archive/release-1.8.0.tar.gz
 - tar -zxvf release-1.8.0.tar.gz
 - "cd googletest-release-1.8.0/googletest && cmake . && sudo make install; cd -"
 - rm -rf googletest-release-1.8.0
 - pip install tox coveralls

script:
 - scons -j4 -C tests
 - tox

after_success:
  - coveralls
